/* variáveis */
:root {
  --primary-text-color: #ffff;
  --secundary-text-color: #b88b58;
  --color: #b28756;
  --tertiary-text-color: #cc5d44;
  --quaternary-text-color: #46799a;
  --text-size: 0.9rem;
  --bg-color1: #000;

  --max-content: 71.25rem;
}
/* geral*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Aerial", "Helvetica", "sans-serif";
  font-size: var(--text-size);
  overflow-x: hidden;
}
/* Estilização header*/
header {
  height: 6.25rem;
  background-color: var(--bg-color1);
  color: var(--primary-text-color);
}
.header {
  max-width: var(--max-content);
  margin: auto;
  display: flex;
  align-items: center;
}
/* Area do logo */
.logo {
  width: 95px;
  height: 100%;
}
.logo img {
  width: 100%;
}

/* -- Area do menu -- */
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu ul {
  display: flex;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  padding: 0 15px;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid var(--bg-color1);
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid var(--color);
  color: var(--tertiary-text-color);
}

/* -- AREA DO BANNER & SLIDE-- */

.banner {
  background-color: rgb(72, 72, 72);
  height: calc(100vh - 100px);
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}
.banner .sliders{
  width: 300vw;
  height: 100%;
}
.banner .slide{
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7); 
}
.banner .slidearea{
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  align-items: center;
  justify-content: center;
}
.banner h1{
  text-transform: uppercase;
  line-height: 6rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.banner span,
.banner i{
  color: var(--secundary-text-color);
}
.banner i{
  font-size: 5rem;
}
.banner a {
  text-decoration: none;
  display: block;
  background-color: var(--secundary-text-color);
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.8rem;
  border-radius: 1.2rem;
  margin-top: 1.87rem;
}
.banner a:hover {
  background-color: var(--tertiary-text-color);
}
.banner .sliders-poiters{
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .poiter{
  height: 15px;
  width: 15px;
  border: 2px solid var(--color);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.banner .poiter.active{
  background-color: var(--color);
}

/* -- AREA DE CONTEÚDOS -- */

.default{
  padding:3.12rem 0;
}
.default .section-title,
.default .section-desc{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.default .section-title{
  font-size: 1.25rem;
}
.default .section-desc{
  font-size: 0.75rem;
  color: rgb(184, 183, 183) !important;
  margin: 12px 0 40px 0;
}
.default .section-body{
  max-width: var(--max-content);
  margin: auto;
  background-color:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.default.light{
  background-color: #f7f7f7;
}
.default.light .section-title{
  color: #000;
}
.default.dark{
  background-color: rgb(0, 0, 0);
}
.default.dark .section-title{
  color: rgb(255, 255, 255);
}