/* variáveis */
:root {
  --color: #b28756;
  --primary-text-color: #ffff;
  --secundary-text-color: rgb(183, 183, 183);
  --tertiary-text-color: #46799a;
  --text-size: 0.9rem;
  --bg-color1: #000;

  --max-content: 71.25rem;
}
/* geral*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

body {
  font-family: "Montserrat", "Aerial", "Helvetica", "sans-serif";
  font-size: var(--text-size);
  overflow-x: hidden;
}
/*
  Botões
*/
.button {
  text-decoration: none;
  display: inline-block;
  background-color: var(--color);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.8rem;
  border-radius: 1.2rem;
  margin-top: 1.87rem;
}
.button:hover {
  background-color: var(--tertiary-text-color);
}
/* Estilização header*/
header {
  height: 6.25rem;
  background-color: var(--bg-color1);
  color: var(--primary-text-color);
}
.header {
  max-width: var(--max-content);
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
/* Area do logo */
.logo {
  width: 95px;
  height: 100%;
  
}
.logo img {
  width: 100%;
}

/* -- Area do menu -- */
.menu-openet {
  display: none;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu ul {
  display: flex;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  padding: 0 15px;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid var(--bg-color1);
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid var(--color);
  color: var(--tertiary-text-color);
}

/* -- AREA DO BANNER & SLIDE-- */

.banner {
  background-color: rgb(72, 72, 72);
  height: calc(100vh - 100px);
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.banner .sliders {
  width: 1000vw;
  height: 100%;
}
.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  align-items: center;
  justify-content: center;
}
.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.banner span,
.banner i {
  color: var(--color);
}
.banner i {
  font-size: 5rem;
}

.banner .sliders-poiters {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .poiter {
  height: 15px;
  width: 15px;
  border: 2px solid var(--color);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.banner .poiter.active {
  background-color: var(--color);
}


.default {
  padding: 3.12rem 0;
}
.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.default .section-title {
  font-size: 1.25rem;
}
.default .section-desc {
  font-size: 0.75rem;
  color: rgb(184, 183, 183) !important;
  margin: 12px 0 40px 0;
}
.default .section-body {
  max-width: var(--max-content);
  margin: auto;
}
.default.light {
  background-color: #f7f7f7;
  color: #000;
}

.default.dark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/*
 CSS DE ÁREA ESPECÍFICA
*/

.section-sobre-nos {
  display: flex;
}
.section-sobre-nos--left {
  flex: 1;
}
.section-sobre-nos--left p {
  font-size: 0.87rem;
  line-height: 1.5rem;
}
.section-sobre-nos--rigth {
  width: 520px;
  text-align: center;
}
.section-sobre-nos--rigth img {
  width: 480px;
  box-shadow: 0px 5px 10px #333;
}

.section-services {
  display: flex;
  text-align: center;
}

.section-service {
  flex: 1;
  border-right: 2px solid #333;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-service:first-child {
  border-left: 2px solid #333;
}
.section-service h4 {
  margin-top: 1.25rem;
  text-transform: uppercase;
  font-size: 1.12rem;
}
.section-service p {
  margin-top: 0.62rem;
  font-size: 0.81rem;
  color: #999;
}

.section-service i {
  font-size: 2rem;
  color: var(--color);
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--filters {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 30px;
  display: inline-block;
  padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}
.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.81rem;
  border-left: 1px solid #ccc;
  color: #555;
  border-bottom: 3px solid #eee;
  cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom: 3px solid var(--color);
}
.section-projects--filters li:first-child {
  border-left: none;
}

.section-projects--photos {
  width: 100vw;
  max-width: var(--max-content);
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-projects--photo {
  width: 280px;
}
.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}
.section-projects--photoarea img {
  width: inherit;
  height: inherit;
}
.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: inherit;
  height: inherit;
  padding: 5px;

  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--primary-text-color);
}
.section-projects--photoinfo h5 {
  font-size: 1.12rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
  display: flex;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3.12rem 0;
}
.bg-team {
  background-image: url(../../media/bg-team.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section-team .sliders {
  width: 300vw;
  height: 100%;
}
.section-team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #fff;
  margin-right: 1.25rem;
}
.section-team .slidearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000;
  padding: 30px;
}

.section-team-area .sliders-pointer {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.87rem;
}
.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
}

.section-team-area .pointer.active,
.section-team-area .pointer:hover {
  background-color: var(--color);
}

.section-team-avatar,
.section-reviws-cliente {
  width: 150px;
  height: auto;
}
.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.06rem;
  text-align: center;
  margin-top: 1.87rem;
}
.section-team--role {
  font-size: 0.87rem;
  color: #999;
  margin-top: 5px;
}
.section-team--social {
  display: flex;
  margin-top: 20px;
}
.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #46799a;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 10px;
}
.section-team--social a:hover {
  background-color: var(--color);
}

/* 
  Area de avaliação
*/

.section-reviews .section-body {
  max-width: initial;
}
.section-reviews {
  overflow: hidden;
}

.default .section-reviews-title,
.default .section-reviews-desc {
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.section-reviews-desc,
.section-reviews--role,
.section-reviews-dep {
  color: #555;
}
.default .section-reviews-title {
  font-size: 20px;
}
.default .section-reviews-desc {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 40px;
}
/* -- Slides -- */
.section-reviews .sliders {
  width: 1000vw;
  height: 100%;
}
.section-reviews .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}
.section-reviews .slidearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.section-reviews .section-reviews-cliente {
  width: 100px;
}
.section-reviews--name {
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0 5px 0;
}
.section-reviews--role {
  font-size: 14px;
}
.section-reviews--img-quote {
  width: 20px;
  margin-top: 30px;
}
.section-reviews-dep {
  font-size: 13px;
  max-width: 43.75rem;
  text-align: center;
  line-height: 1.56rem;
  margin: 20px 30px;
}

.section-reviews .sliders-poiters {
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.section-reviews .poiter {
  width: 15px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.section-reviews .poiter:hover,
.section-reviews .poiter.active {
  background-color: #b28756;
}

/* 
  AREA DE TECH
*/

#tech {
  background-color: #fff;
  border-top: 2px solid rgb(218, 218, 218);
  border-bottom: 2px solid rgb(218, 218, 218);
  padding: 1.2rem 0;
}

.section-tecnology {
  margin: 0 auto;
  overflow: hidden;
  margin: auto;
}
.section-tecnology .sliders {
  width: 500vw;
  height: 100%;
}
.section-tecnology .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
}
.section-tecnology .slidearea {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.tech-item {
  margin-right: 5rem;
  margin-left: 20px;
}
.section-tecnology i {
  font-size: 4rem;
}
#tech .sliders-pointers {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tech .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
#tech .pointer:hover,
#tech .pointer.active {
  background-color: var(--color);
}

/*
  AREA - PLANOS
*/

.section-price {
  display: flex;
}
.section-price-card {
  flex: 1;
  background-color: var(--primary-text-color);
  margin-right: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-price .card-btn {
  display: inline-block;
}
.section-price-card:last-child {
  margin-left: 0;
}
.section-price--card-name {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.section-price--card-money {
  font-weight: bold;
  font-size: 1.37rem;
  margin-top: 0.62rem;
}
.section-price--card-perido {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
.section-price--card-point {
  font-size: 12px;
}
.button--dark {
  background-color: #000;
}
.button--dark:hover,
.button--dark.active {
  background-color: var(--color);
}
#premium {
  background-color: #fff;
}
.section-consultoria {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}
.section-consultoria i {
  color: var(--color);
}
.section-premium {
  max-width: 550px;
}
.section-premium img {
  width: 100%;
  height: 100%;
}
.section-premium-text {
  flex: 1;
  margin-left: 3rem;
}
.section-premium-text ul {
  list-style: none;
}
.section-premium-text .title {
  font-size: 17px;
  font-weight: 600;
}
.desc {
  margin: 10px 0;
}
.desc li {
  margin-left: 25px;
  margin-bottom: 5px;
}
.section-abouts {
  display: flex;
}
.section-about {
  flex: 1;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-about h3 {
  color: var(--color);
  font-size: 45px;
}
.section-about h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.section-about p {
  margin-top: 30px;
  font-size: 13px;
  color: var(--secundary-text-color);
}
.section-about-line {
  width: 30px;
  border-bottom: 2px solid var(--color);
  margin: auto;
}
.section-share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  color: #999;
  font-size: 15px;
}
.section-share--legend {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.section-share--legend i {
  margin-right: 10px;
}
.section-share--item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
.section-share--icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-share--icon i {
  font-size: 35px;
}
.section-share--icon.twitter {
  color: #34c5f0;
}
.section-share--icon.linkedin {
  color: #127cb4;
}
.section-share--icon.facebook {
  color: #336297;
}
.section-share--icon.google {
  color: #e74237;
}

.section-share--icon.pinterest {
  color: #b71c29;
}

/*
  AREA CONTATO
*/

.section-contact {
  max-width: 450px;
  margin: auto;
  text-align: center;
}
.section-contact--div {
  display: flex;
}
.section-contact--div input:first-child {
  margin-right: 20px;
}
.section-contact input[type="text"],
.section-contact textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #ccc;
  outline: 0;
  margin-top: 10px;
}
.section-contact textarea {
  height: 100px;
  resize: none;
}
.section-contact .button {
  border: 0;
}

/*
AREA DO MAPA
*/

.section-map {
  background-image: url("../img/mapa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.87rem 0;
}

.section-map--area {
  width: 100vw;
  max-width: 1140px;
  margin: auto;
}
.section-map--info {
  width: 50%;
  padding: 1.87rem;
  background-color: #fff;
  color: var(--bg-color1);
}
.section-map--info-item {
  display: flex;
  align-items: center;
  color: #999;
  margin: 10px 0;
}
.section-map--info-item i {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #ccc;
  padding: 5px;
}

/*

FOOTER
*/
.title-footer,
.desc-footer {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.title-footer {
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.desc-footer {
  text-align: start;
  font-size: 0.75rem;
  color: rgb(184, 183, 183);
  margin: 10px;
}
.section-footer-itens {
  display: flex;
  justify-content: space-between;
}
.section-icons-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 1px solid rgb(49, 49, 49);
}
.section-footer--icons {
  margin-top: 1rem;
  display: flex;
  gap: 25px;
  padding: 20px;
}

.section-footer-icon i {
  font-size: 1.9rem;
  color: var(--color);
}

.section-footer--area li {
  list-style: none;
  margin-bottom: 15px;
}
.section-footer--area a {
  text-decoration: none;
  color: #ccc;
}
.section-footer--area a:hover {
  color: var(--color);
  text-shadow: 1px 1px 10px red;
}
.section-text {
  border-right: 1px solid rgb(49, 49, 49);
}
.section-text,
.section-ref {
  flex: 1;
  padding: 20px;
}
.section-copy,
.copy-area {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .logo {
    margin-left: 30px;
  }
  .menu-openet {
    display: block;
    width: 45px;
    margin-right: 30px;
  }
  nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.95);
    width: 80vw;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
  }

  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    font-weight: bold;
    height: 85px;
    font-size: 27px;
    margin-left: 50px;
    border: 0;
  }
  .menu li.active a {
    color: var(--color);
    border: 0;
  }
  .banner .slide {
    /* margin-top: -49px; */
  }
  .section-sobre-nos {
    flex-direction: column;
  }
  .section-sobre-nos--left{
    margin: 0 30px 30px 30px;
  }
  .section-sobre-nos--rigth{
    width: auto;
  }
  .section-services{
    flex-wrap: wrap;
  }
  .section-service{
    min-width: 50%;
    margin-bottom: 30px;
  }
  .section-service:first-child{
    border-left: 0;
  }
  .section-team {
    max-width: 580px;
  }
  .section-tecnology .slidearea {
    padding: 100px;
  }
  .section-price {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-price-card {
    min-width: 40%;
    margin: 10px;
  }
  .section-consultoria{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .section-premium{
    width: auto;
    margin-bottom: 30px;
  }
  .section-abouts{
    flex-wrap: wrap;
  }
  .section-about{
    min-width: 50%;
    margin-bottom: 20px;
  }
  .section-map--info{
    width: auto;
    border-radius: 5px;
  }
  .section-map{
    padding: 30px;
  }
  .section-map--area{
    width: auto;
  }
  .section-map--info-item{
    margin-bottom: 20px;
  }
  .section-map--info-item:last-child{
    margin-bottom: 0;
  }

}


@media (max-width: 450px) {
  
  .logo {
    margin-left: 30px;
  }
  .menu-openet {
    display: block;
    width: 45px;
    margin-right: 30px;
  }
  nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.95);
    width: 80vw;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
  }

  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    font-weight: bold;
    height: 3.75rem;
    font-size: 1.26rem;
    margin-left: 1.87rem;
    border: 0;
  }
  .menu li.active a {
    color: var(--color);
    border: 0;
  }
  .banner h1{
    font-size: 1.87rem;
    line-height: 3.2rem;
  }
  .banner .slide {
    height: 100vh;
  }
  .banner .slidearea{
    height: 100vh;
    margin-top: -26px;
  }
  .section-sobre-nos {
    flex-direction: column;
  }
  .section-sobre-nos--left{
    margin: 0 30px 30px 30px;
  }
  .section-sobre-nos--rigth{
    width: auto;
    margin: 0 30px;
  }
  .section-sobre-nos--rigth img{
    width: 100%;
  }
  .section-services{
    flex-wrap: wrap;
  }
  .section-service{
    min-width: 100%;
    margin-bottom: 30px;
  }
  .section-service i{
    font-size: 3rem;
  }
  .section-service:first-child{
    border-left: 0;
  }
  .section-projects--filters{
    margin: 0 30px;
  }
  .section-projects--photo{
    width: 320px;
  }
  .section-projects--photoarea{
    width: 300px;
    height: 190px;
  }
  .section-team {
    max-width: 280px;
    max-height: 320px;
  }
  .section-tecnology .slidearea {
    margin: 0 45px;
    
  }
  #price{
    justify-content: center;
    width: 100%;
  }
  .section-price {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    padding: 10px;
  }
  .section-price-card {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    
  }
    
  .section-consultoria{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .section-premium{
    width: auto;
    margin-bottom: 30px;
  }
  .section-premium-text .desc{
    margin-bottom: 15px;
    
  }
  .section-abouts{
    flex-wrap: wrap;
  }
  .section-about{
    min-width: 100%;
    margin-bottom: 20px;
  }
  .section-share {
    flex-wrap:wrap;
    justify-content: flex-start;
  }
  .section-share--legend{
    width: 100vw;
    margin: 0;
    margin-bottom: 30px;
    justify-content: center;
  }
  .section-share--item {
    min-width: 50%;
    max-width: 50%;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .section-contact{
    max-width: 100vw;
    margin: 0 20px;
  }
  .section-contact--div {
    flex-direction: column;
  }
  .section-map--info{
    width: auto;
    border-radius: 5px;
  }
  .section-map{
    padding: 0;
    padding-bottom: 250px;
  }
  .section-map--area{
    width: auto;
  }
  .section-map--info-item{
    margin-bottom: 20px;
  }
  .section-map--info-item:last-child{
    margin-bottom: 0;
  }
  .section-footer-itens{
    flex-direction: column;
  }

}