/* variáveis */
:root {
  --color: #b28756;
  --primary-text-color: #ffff;
  --secundary-text-color: rgb(183, 183, 183);
  --tertiary-text-color: #46799a;
  --text-size: 0.9rem;
  --bg-color1: #000;

  --max-content: 71.25rem;
}
/* geral*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Aerial", "Helvetica", "sans-serif";
  font-size: var(--text-size);
  overflow-x: hidden;
}
/*
  Botões
*/
.button {
  text-decoration: none;
  display: inline-block;
  background-color: var(--color);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.8rem;
  border-radius: 1.2rem;
  margin-top: 1.87rem;
}
.button:hover {
  background-color: var(--tertiary-text-color);
}
/* Estilização header*/
header {
  height: 6.25rem;
  background-color: var(--bg-color1);
  color: var(--primary-text-color);
}
.header {
  max-width: var(--max-content);
  margin: auto;
  display: flex;
  align-items: center;
}
/* Area do logo */
.logo {
  width: 95px;
  height: 100%;
}
.logo img {
  width: 100%;
}

/* -- Area do menu -- */
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu ul {
  display: flex;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  padding: 0 15px;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid var(--bg-color1);
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid var(--color);
  color: var(--tertiary-text-color);
}

/* -- AREA DO BANNER & SLIDE-- */

.banner {
  background-color: rgb(72, 72, 72);
  height: calc(100vh - 100px);
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner .sliders {
  width: 300vw;
  height: 100%;
}
.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  align-items: center;
  justify-content: center;
}
.banner h1 {
  text-transform: uppercase;
  line-height: 6rem;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.banner span,
.banner i {
  color: var(--color);
}
.banner i {
  font-size: 5rem;
}

.banner .sliders-poiters {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .poiter {
  height: 15px;
  width: 15px;
  border: 2px solid var(--color);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.banner .poiter.active {
  background-color: var(--color);
}

/* 
CSS DE INTERFACE -> AREA DE CONTEÚDOS 
*/

.default {
  padding: 3.12rem 0;
}
.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.default .section-title {
  font-size: 1.25rem;
}
.default .section-desc {
  font-size: 0.75rem;
  color: rgb(184, 183, 183) !important;
  margin: 12px 0 40px 0;
}
.default .section-body {
  max-width: var(--max-content);
  margin: auto;
  
}
.default.light {
  background-color: #f7f7f7;
  color: #000;
}

.default.dark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/*
 CSS DE ÁREA ESPECÍFICA
*/

.section-sobre-nos {
  display: flex;
}
.section-sobre-nos--left {
  flex: 1;
}
.section-sobre-nos--left p {
  font-size: 0.87rem;
  line-height: 1.5rem;
}
.section-sobre-nos--rigth {
  width: 520px;
  text-align: center;
}
.section-sobre-nos--rigth img {
  width: 480px;
  box-shadow: 0px 5px 10px #333;
}

.section-services {
  display: flex;
  text-align: center;
}

.section-service {
  flex: 1;
  border-right: 2px solid #333;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-service:first-child {
  border-left: 2px solid #333;
}
.section-service h4 {
  margin-top: 1.25rem;
  text-transform: uppercase;
  font-size: 1.12rem;
}
.section-service p {
  margin-top: 0.62rem;
  font-size: 0.81rem;
  color: #999;
}

.section-service i {
  font-size: 2rem;
  color: var(--color);
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--filters {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 30px;
  display: inline-block;
  padding: 0 20px;
  
}
.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}
.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.81rem;
  border-left: 1px solid #ccc ;
  color: #555;
  border-bottom: 3px solid #eee;
  cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
  border-bottom: 3px solid var(--color);
}
.section-projects--filters li:first-child {
  border-left: none;
}

.section-projects--photos{
  width: 100vw;
  max-width: var(--max-content);
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-projects--photo {
  width: 280px;
}
.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}
.section-projects--photoarea img{
  width: inherit;
  height: inherit;
  
}
.section-projects--photoinfo{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width:inherit;
  height: inherit;
  padding: 5px;

  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--primary-text-color);
}
.section-projects--photoinfo h5{
  font-size: 1.12rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
  display: flex;
}

.section-team-area{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3.12rem 0;
}
.bg-team{
  background-image: url(../../media/bg-team.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;

}
.section-team{
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section-team .sliders {
  width: 300vw;
  height: 100%;
}
.section-team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #fff;
  margin-right: 1.25rem;
}
.section-team .slidearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000;
  padding: 30px;
}

.section-team-area .sliders-pointer{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.87rem;
}
.section-team-area .pointer{
  width: 15px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 8px;
  margin: 0 5px;
  cursor: pointer;
  
}


.section-team-area .pointer.active{
  background-color: var(--color);
}

.section-team-avatar,
.section-reviws-cliente{
  width: 150px;
  height: auto;
}
.section-team--name{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.06rem;
  text-align: center;
  margin-top: 1.87rem;
}
.section-team--role{
  font-size: 0.87rem;
  color: #999;
  margin-top: 5px;
}
.section-team--social{
  display: flex;
  margin-top: 20px;
}
.section-team--social a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #46799a;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 10px;
}
.section-team--social a:hover{
  background-color: var(--color);
}


/* 
  Area de avaliação
*/

.section-reviews .section-body{
  max-width: initial;
}
.section-reviews{
  overflow: hidden;
}

.default .section-reviews-title,
.default .section-reviews-desc{
  text-align: center;
  text-align:center;
  text-transform: uppercase;
  font-weight: 600;
}
.section-reviews-desc,
.section-reviews--role,
.section-reviews-dep{
  color: #555;
}
.default .section-reviews-title{
  font-size: 20px;
}
.default .section-reviews-desc{
  font-size: 12px;
  margin-top:10px;
  margin-bottom:40px;
}
/* -- Slides -- */
.section-reviews .sliders {
  width: 1000vw;
  height: 100%;
}
.section-reviews .slide {
  width: 100vw;
  height: 100%;
  display: inline-block; 
}
.section-reviews .slidearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.section-reviews .section-reviews-cliente{
  width: 100px;
}
.section-reviews--name{
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0 5px 0;
}
.section-reviews--role{
  font-size: 14px;
}
.section-reviews--img-quote{
  width: 20px;
  margin-top: 30px;
}
.section-reviews-dep{
  font-size: 13px;
  max-width: 43.75rem;
  text-align: center;
  line-height: 1.56rem;
  margin: 20px 30px;

}

.section-reviews .sliders-poiters{
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.section-reviews .poiter{
  width: 15px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.section-reviews .poiter:hover,
.section-reviews .poiter.active{
  background-color: #b28756;
}

/* 
  AREA DE TECH
*/

.section-tech{
  border-top: 2px solid  rgb(208, 208, 208);
  border-bottom: 2px solid rgb(208, 208, 208);
  padding: 10 0;
  margin-bottom: 2rem;
  
}

.section-tech i{
  font-size: 5rem;
  padding: 0;
}
.section-tech-skill{
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.section-tech-skill .sliders {
  width: 1000vw;
  height: 100%;
}
.section-tech-skill .slide{
  width: 100px;
  height: 100%;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
}
